h1, .heading {
    color: deeppink;
    font-family: 'Matemasie', cursive;
    font-size: 40px;
    font-weight: 700;
}

h1 {
    text-align: center;
}

h2, .subheading {
    color: lime;
    font-family: 'Matemasie', cursive;
    font-size: 25px;
    font-weight: 400;
}

h2 {
    text-align: center;
}

h3 {
    color: lime;
    font-family: 'Matemasie', cursive;
    font-size: 20px;
    font-weight: 400;
}

p, .p{
    color: white;
    font-family: 'Itim', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

body {
    background-color: black;
}

div {
    border: 1px dotted white;
    padding: 10px;
}

#colors p{
    display: inline-block;
    padding: 20px;
    width: 200px;
    height: 50px;
    border: 1px solid white;
}

.matemasie {
    font-family: 'Matemasie', cursive;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
    color: black;
}

.deep-pink {
    background-color: deeppink;
}

.lime {
    background-color: lime;
    color: black;
}

.hot-pink {
    background-color: hotpink;
}

.p {
    text-decoration: underline;
}